body{
    background-color: #41b3a3;
    color: azure;
}
img{
    height: 300px;
}
.imgHappyWidth{
    width: 300px;
}
.imgSadWidth{
    width: 400px;
}
div h2{
    text-transform: capitalize;
}
h1{
    text-transform: capitalize;
}
.validatorimg{
    width: 200px;
    height: 150px;
}